.u-center-text {
	text-align: center !important;
}

.u-visibility-hidden {
	visibility: hidden !important;
	opacity: 0 !important;
}

.u-border-top {
	border-top: $border-default;
}

.u-border-bottom {
	border-bottom: $border-default;
}

.u-border-left {
	border-left: $border-default;
}

.u-border-right {
	border-right: $border-default;
}

.u-blur {
	filter: blur(3px);
}

.u-vertical-align-top {
	vertical-align: top !important;
}

.u-padding-left-0 {
	padding-left: 0 !important;
}

.u-display-none {
	display: none !important;
}

.primary-color {
	color: $color-primary !important;
}

.abs-center {
	@include absCenter;
}

.abs-center-top {
	@include absCenterTop;
}

.u-ta-left {
	text-align: left !important;
}
