.buddy-app {
	all: initial;
	z-index: 2147483647;
	direction: ltr;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	display: flex;
	height: 600px;
	@include absCenterTop;
	position: fixed;
	color: white;
	font-size: 16px;
}

.buddy-overlay {
	z-index: 2147483646;
	position: fixed;
	height: 100vh;
	width: 100vw;
}
