.chat {
	display: flex;
	flex-direction: column;
	height: calc(100% - 44px - 0.75rem);
	font-size: 14px;

	&__text-box {
		flex: 1;
		overflow: auto;

		&::-webkit-scrollbar {
			display: none;
		}
	}

	&__enter-key {
		display: flex;
		flex-direction: column;
		align-items: center;

		& input {
			width: 20rem;
			text-align: center;
			padding: 7px;
			margin-top: 5rem;
			margin-bottom: 2rem;
		}
	}

	&__button {
		width: fit-content;
		align-self: center;
		background: transparent;
		color: white;
		border: 1px solid #767676;
		border-radius: 5px;
		cursor: pointer;
		padding: 0.5rem;

		&:hover {
			background-color: rgba(white, 0.1);
		}
	}

	&__prompt {
		display: flex;
		align-items: center;
		position: relative;
		margin: 0 0.5rem;
		padding-top: 0.75rem;

		& svg {
			margin: 0 0.3rem;
			cursor: pointer;
		}
	}

	&__input {
		flex: 1;
		background: #1e2a3b;
		border: none;
		outline: none;
		color: white;
		padding: 0.5rem;
		padding-right: 2.5rem;
		border-radius: 0.4rem;

		&-icon {
			display: flex;
			align-items: center;
			position: absolute;
			right: calc(20px + 2 * 0.3rem + 0.5rem);
		}
	}

	&__placeholder {
		padding: 1rem;
		font-size: 16px;
	}

	&__question {
		padding: 1rem;
	}

	&__answer {
		padding: 1rem;
		background-color: #334155;
		white-space: pre-line;
	}
}
