.pane {
	width: 250px;
	background-color: #111a2b;
	border-radius: 13px;
	border: 1px solid $color-disabled-dark-theme;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25), 0px 4px 8px rgba(0, 0, 0, 0.15), 0px 8px 16px rgba(0, 0, 0, 0.1);
	padding: 8px 16px;

	& select,
	& input {
		width: 90%;
		align-self: center;
		margin-bottom: 8px;

		&[type='range'] {
			width: 80%;
			align-self: flex-start;
			margin-left: 5%;
		}
	}

	& label {
		margin-left: 5%;
	}

	& .buddy-bs-range--value {
		margin-right: 15%;
	}
}
